.adminProductManagement{
  display:flex;
  flex-direction:column;
  gap:20px;
  transition:var(--transition);
}
.adminContentAreaProducts{
  display:flex;
  flex-direction:column;
  gap:20px;
  background-color:var(--white);
  border:none;
  border-radius:var(--smallRadius);
  box-shadow:var(--boxShadowLight);
  padding:20px;
}
.productManagementHeader{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.productManagementButtons{
  display:flex;
  flex-direction:row;
  gap:20px;
}
.productManagementButtons i{
  margin-right:var(--iconDistance);
}
.addProductBtn,
.removeProductBtn{
  border:2px solid transparent;
  cursor:pointer;
  border-radius:var(--smallRadius);
  font-size:var(--textFont);
  padding:10px 20px;
  width:100%;
  max-width:300px;
  transition:var(--transition);
}
.removeProductBtn{
  background-color:var(--secondButtonColor);
  color:var(--mainTextColor);
}
.removeProductBtn:hover{
  background-color:var(--secondButtonHover);
  transform:translateY(-1px);
}
.removeProductBtn.active{
  border:2px solid var(--secondTextColor);
  transform:translateY(-1px);
  background-color:var(--white);
  color:var(--secondTextColor);
}
.addProductBtn{
  background-color:var(--mainButtonColor);
  color:var(--white);
}
.addProductBtn:hover{
  background-color:var(--mainButtonHover);
  transform:translateY(-1px);
}
.addProductBtn.active{
  border:2px solid var(--mainButtonHover);
  background-color:var(--white);
  transform:translateY(-1px);
  color:var(--mainButtonHover);
}

/*--------------------------------------FORM-GROUPS----------------------------------------------*/
.formGroup {
  margin-bottom: 10px;
}
.formGroup label {
  display: block;
  margin-bottom:5px;
}
.productForm{
  display:flex;
  flex-direction:column;
  gap:20px;
  padding: 20px;
  background-color:var(--white);
  box-shadow:var(--boxShadowLight);
  border-radius:var(--smallRadius);
  transition:var(--transition);
}
.productFormMainTitle{
  color: var(--mainTextColor);
}
.formGroupTitle{
  font-size:calc(var(--textFont) + 1px);
}
.formGroup input[type="text"],
.formGroup input[type="number"],
.formGroup input[type="url"],
.formGroup textarea,
.formGroup select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--secondBackground);
  border-radius: var(--smallRadius);
  transition:var(--transition);
  outline-color: var(--green);
}
.formGroup input[type="text"]:valid,
.formGroup input[type="number"]:valid,
.formGroup input[type="url"]:valid,
.formGroup textarea,
.formGroup select {
  border: 1px solid var(--green);
}
.formGroup textarea {
  min-height:80px;
  resize: vertical;
}
.formGroup .details{
  min-height:280px;
}
.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

/*---------------------------------CATEGORIES--------------------------------------*/
.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: stretch;
}
.categoriesColumnBox {
  flex: 1 1 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}
.categoriesBox {
  flex: 1;
  padding: 12px;
  border: 1px solid var(--secondButtonHover);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.productCategoryCheckboxBox{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-self: start;
  cursor:pointer;
  grid-column: 1;
  margin:10px 0px;
  gap:10px;
  padding:0px 10px;
}
.productCategoryCheckbox {
  display:flex;
  cursor:pointer;
  margin:0;
  font-size: var(--smallTextFont);
  color: var(--mainTextColor);
}
.productCategoryCheckboxText{
  transition:var(--transition);
}
.productCategoryCheckboxBox:hover .productCategoryCheckboxText{
  color:var(--green);
  text-decoration:underline;
}
.productCategoryCheckboxBox input[type="checkbox"] {
  position: relative;
  cursor:pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 18px;
  min-width: 18px;
  max-height: 18px;
  min-height: 18px;
  border: 2px solid var(--green);
  border-radius: 4px;
  transition:var(--transition);
}
.productCategoryCheckboxBox input[type="checkbox"]:checked{
  border-color: var(--mainButtonHover);
}
.productCategoryCheckboxBox input[type="checkbox"]:checked + .productCategoryCheckbox .productCategoryCheckboxText{
  color:var(--green);
  text-decoration:underline;
}
.productCategoryCheckboxBox input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 11px;
  min-width: 11px;
  max-height: 11px;
  min-height: 11px;
  border-radius: 2px;
  opacity: 0;
  background-color: var(--green);
  transform: translate(-50%, -50%);
  transition:0.2s ease;
}
.productCategoryCheckboxBox input[type="checkbox"]:checked::after {
  opacity: 1;
  background-color: var(--mainButtonHover);
}

/*----------------------------------IMAGE-SUBMIT-----------------------------------------------*/
.imageUploadContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.imageUploadContainer input{
  display:none;
}
.uploadArea {
  padding: 40px;
  border: 2px dashed var(--secondButtonHover);
  cursor: pointer;
  font-size:var(--textFont);
  height:100px;
  border-radius:var(--smallRadius);
  text-align: center;
}
.clearImageBtn{
  background-color: var(--white);
  color: var(--thirdButtonColor);
  border: 2px dashed var(--thirdButtonColor);
  font-size:var(--textFont);
  border-radius:var(--smallRadius);
  padding:10px;
  cursor: pointer;
  transition:var(--transition);
  font-weight:bold;
}
.clearImageBtn:hover{
  border: 2px dashed var(--thirdButtonColor);
  color: var(--thirdButtonHover);
  transform:translateY(-1px);
}
.imagePreviewContainer{
  display:flex;
  flex-direction:row;
  margin-bottom:5px;
  gap:10px;
}
.imagePreviewContainer img {  
  height:100px;
  border:2px dashed var(--secondButtonHover);
  border-radius:var(--smallRadius);
  object-fit: cover;
}
.imageUploadHint {
  font-size: var(--smallTextFont);
  color:var(--secondTextColor);
}

/*-------------------------------REMOVE---------------------------------*/
.noResults{
  margin-bottom:50px;
}

/*---------------------------REMOVE-CHECKBOX----------------------*/
.productRemoveConfirmationCheckboxBox{
  display:flex;
  border:2px dashed var(--mainTextColor);
  flex-direction:row;
  align-items: center;
  justify-self: start;
  cursor:pointer;
  grid-column: 1;
  margin:10px 0px;
  gap:10px;
  padding:10px 20px;
  border-radius:var(--smallRadius);
  width:100%;
  transition:var(--transition);
}
.productRemoveConfirmationCheckboxBox:has(input[type="checkbox"]:checked) {
  background-color: rgba(255, 0, 0, 0.05);
  border:2px dashed var(--errorColor);
}
.productRemoveConfirmationCheckbox {
  display:flex;
  cursor:pointer;
  margin:0;
  font-size: var(--smallTextFont);
  color: var(--mainTextColor);
}
.productRemoveConfirmationCheckboxText{
  transition:var(--transition);
}
.productRemoveConfirmationCheckboxBox input[type="checkbox"] {
  position: relative;
  cursor:pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 18px;
  min-width: 18px;
  max-height: 18px;
  min-height: 18px;
  border: 2px solid var(--mainTextColor);
  border-radius: 4px;
  transition:var(--transition);
}
.productRemoveConfirmationCheckboxBox input[type="checkbox"]:checked {
  border-color: var(--thirdButtonHover);
}
.productRemoveConfirmationCheckboxBox input[type="checkbox"]:checked + .productRemoveConfirmationCheckbox .productRemoveConfirmationCheckboxText{
  color:var(--thirdButtonColor);
}
.productRemoveConfirmationCheckboxBox input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 11px;
  min-width: 11px;
  max-height: 11px;
  min-height: 11px;
  border-radius: 2px;
  opacity: 0;
  background-color: var(--thirdButtonColor);
  transform: translate(-50%, -50%);
  transition:0.2s ease;
}
.productRemoveConfirmationCheckboxBox input[type="checkbox"]:checked::after {
  opacity: 1;
  background-color: var(--thirdButtonHover);
}

/*--------------------------------------PRODUCT-BOX------------------------------------------*/
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 15px;
  margin-bottom:15px;
}
.productCard {
  display:flex;
  flex-direction:column;
  align-items:start;
  justify-content:end;
  gap:5px;
  border: 1px solid var(--secondBackground);
  border-radius: var(--smallRadius);
  padding: 15px;
  cursor: pointer;
  transition: var(--transition);
  position: relative;
}
.productCard:hover {
  border-color: var(--secondButtonHover);
  transform: translateY(-1px);
}
.productCard.selected {
  border: 1px solid var(--thirdButtonColor);
  background-color: rgba(255, 0, 0, 0.05);
  transform:translateY(-1px);
}
.productImage{
  display: flex;
  align-items: center;
  width: 100%;
}
.productImage img {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  margin-bottom: 5px;
}

.productDetails{
  display:flex;
  flex-direction:column;
  gap:5px
}
.productDetails h4 {
  font-size: var(--textFont);
}
.productId, .productPrice {
  font-size: var(--smallTextFont);
  color: var(--secondTextColor);
}
.selectionIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--thirdButtonColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productCard.selected .selectionIndicator {
  background-color: var(--thirdButtonColor);
  color: var(--white);
}
.confirmationCheckbox {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: var(--smallRadius);
}

/*---------------------------SUBMIT-----------------------*/
.submitBtn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color:var(--mainButtonColor);
  color: var(--white);
  border-radius: var(--smallRadius);
  transition: var(--transition);
  width:100%;
  max-width:250px;
  font-size:var(--textFont);
}
.submitBtn:hover{
  background-color:var(--mainButtonHover);
  transform:translateY(-1px);
}
.removeBtn{
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color:var(--mainButtonColor);
  color: var(--white);
  border-radius: var(--smallRadius);
  transition: var(--transition);
  width:100%;
  max-width:250px;
  font-size:var(--textFont);
}
.removeBtn:disabled,
.removeBtn:disabled:hover{
  background: var(--secondButtonColor);
  transform:translateY(0px);
  color:var(--mainTextColor);
}
.removeBtn{
  background: var(--thirdButtonColor);
  color:var(--white);
}

/*-----------------------------RESPONSIVE--------------------------------------------*/
@media(max-width:1000px){
  .productManagementButtons{
    flex-direction:column;
    width:100%;
  }
  .submitBtn,
  .removeBtn
  .addProductBtn,
  .removeProductBtn{
    max-width:none;
    width:100%;
  }
  .uploadArea {
    width:100%;
  }
  .imageUploadContainer{
    flex-direction:column;
  }
  .imagePreviewContainer{
    width:100%;
  }
  .clearImageBtn{
    width:100%;
    max-width:none;
  }
}