.communities {
  position: fixed;
  text-align:center;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: var(--mainBackground);
}
.communities h1{
  color:var(--white);
}
.communitiesColorOverlay {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.navigation {
  z-index: 10;
}
.communitiesBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  top:-100px;
  width:100%;
  max-width: 400px;
  background-color: var(--green);
  border: 3px solid var(--green);
  border-radius: var(--normalRadius);
}
.communitiesTop {
  background-color: transparent;
  padding: 5px 0px;
  margin: 0px;
  color: var(--white);
}
.communitiesBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  color: var(--green);
  border-radius: var(--normalRadius);
  font-size: calc(var(--textFont) + 5px);
}
.communitiesGoToSub {
  border: none;
  cursor: pointer;
  width: 80%;
  padding: 10px 20px;
  margin: 10px 0px;
  margin-top: 15px;
  background-color: var(--green);
  border-radius: var(--normalRadius);
  color: var(--white);
  transition: var(--transition);
  box-shadow: var(--boxShadowLight);
  font-size: calc(var(--textFont) + 2.5px);
}
.communitiesGoToSub:hover {
  box-shadow: none;
  background-color: var(--lightGreen);
}

/*------------------------------------------RESPONSIVE----------------------------------------*/
@media(max-width:780px){
  .communitiesBox{
    max-width:300px;
  }
}
