.subscriptions {
  margin: 30px;
  padding: 0px;
}
.subBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation{
  z-index:2;
}
/*----------------------------------TOGGLE---------------------------------*/
.subToggleContainer {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid var(--mainButtonColor);
  background-color: var(--white);
  box-shadow: var(--boxShadow);
  font-size: var(--textFont);
  color: var(--mainTextColor);
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.subToggleCircle {
  position: absolute;
  background-color: var(--mainButtonColor);
  width: 90px;
  height: 40px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out, background 0.3s ease-in-out;
}
.subToggleContainer:hover {
  border: 2px solid var(--mainButtonHover);
}
.subToggleContainer:hover .subToggleCircle {
  background-color: var(--mainButtonHover);
}
.subToggleCircle.moveRight {
  transform: translateX(102px);
}
.subToggleCircle.moveLeft {
  transform: translateX(4px);
}
.subToggleText {
  text-align: center;
  font-weight: bold;
  font-size: var(--textFont);
  flex: 1;
  z-index: 1;
  transition: color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.subToggleText.active {
  color: var(--white);
}

/*-------------------------------------CATEGORIES--------------------------------------*/
.subCategories {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  padding: 0;
  font-size: var(--textFont);
  color: var(--mainTextColor);
}
.subPlan {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  width: 90%;
  max-width: 410px;
  min-width: 410px;
  flex: 1;
  border-radius: var(--normalRadius);
  background-color: var(--white);
  box-shadow: var(--boxShadow);
}

/*-------------------------CATEGORIES-TOP-----------------------*/
.subPlanTop {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--mainTextColor);
}
.subTopTitle {
  font-size: 40px;
  margin: 10px;
}
.subPrice {
  display: flex;
  flex-direction: row;
}
.subSidePrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--green);
}
.subButtons {
  display: flex;
  flex-direction: row;
}
.subButtons button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 10px;
  box-shadow: var(--boxShadowLight);
  border-radius: var(--normalRadius);
  transition: var(--transition);
}
.subTryFree {
  border: none;
  border-radius: var(--normalRadius);
  color: var(--white);
  background-color: var(--mainButtonColor);
}
.subTryFree:hover {
  box-shadow:none;
  background-color: var(--mainButtonHover);
}
.subBuyNow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--green);
  border: 2px solid var(--mainButtonColor);
}
.subBuyNow i {
  margin-left: var(--iconDistance);
}
.subBuyNow:hover {
  box-shadow: none;
  color: var(--lightGreen);
  border: 2px solid var(--mainButtonHover);
}

/*--------------------CATEGORIES-BOTTOM------------------------*/
.subBottom {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.subBenefits {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subBenefits .fa-check {
  margin-right: var(--iconDistance);
  color: var(--green);
}
.subBenefit {
  display: flex;
  flex-direction: column;
}
.subDescription {
  color: var(--secondTextColor);
}

/*-----------------------------------RESPONSIVE------------------------------*/
@media (max-width: 450px) {
  .subPlan {
    padding: 20px;
    max-width: 400px;
    min-width: 320px;
  }
  .subBottom {
    padding: 10px 5px;
    font-size: var(--smallTextFont);
  }
  .subDescription {
    font-size: var(--smallTextFont);
  }
}
@media (max-width: 400px) {
  .subPlan {
    max-width: 300px;
    min-width: 300px;
  }
  .subTopTitle{
    font-size:30px;
  }
}

