.languageSwitcher {
  position: relative;
  display: inline-block;
}

/*-------------------------------------------BUTTON------------------------------------------------*/
.languageSwitcherToggle {
  display: flex;
  flex-direction: row;
  background-color: var(--green);
  color: var(--white);
  border: none;
  box-shadow: var(--boxShadow);
  border-radius: var(--smallRadius);
  padding: 10px 20px;
  font-size: var(--textFont);
  cursor: pointer;
  transition: var(--transition);
  align-items: center;
  gap: var(--iconDistance);
}
.languageSwitcherArrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.languageSwitcherArrow.rotateUp {
  transform: rotate(-180deg);
}
.languageSwitcherArrow.rotateDown {
  transform: rotate(0deg);
}
.languageSwitcherToggle:hover{
  background-color:var(--lightGreen);
  box-shadow: var(--boxShadowLight);
}
/*-------------------------------------------DROP-DOWN------------------------------------------------*/
.languageSwitcherDropDown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  border-radius: var(--smallRadius);
  box-shadow: var(--boxShadow);
  list-style: none;
  padding: 10px 0;
  margin: 5px 0 0;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s 0.2s;
}
.languageSwitcherDropDown.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s;
}
.languageSwitcherDropDown li {
  padding: 10px 20px;
  cursor: pointer;
  color: var(--mainTextColor);
  transition: background-color var(--transition);
}
.languageSwitcherDropDown li:hover {
  background-color: var(--secondBackground);
}