.legalPoliciesBox{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  overflow-wrap:break-word;
  word-break:break-word;
  border-radius:var(--normalRadius);
  box-shadow:var(--boxShadow);
  background-color:var(--white);
  gap:20px;
  padding:20px;
}
.legalPoliciesThemeBox{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.legalPoliciesTitleBox{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px;
  gap:5px;
}
.legalPoliciesText{
  text-align:center;
}
.legalPoliciesTitle{
  text-align:center;
}
.legalPoliciesTextBox{
  display:flex;
  flex-direction:column;
}
.legalPoliciesSubTitle{
  margin:5px 0px;
}
.legalPoliciesSubPointsBox{
  display:flex;
  flex-direction:column;
  margin:5px 0px;
  gap:5px;
}
.legalPoliciesSubPoints {
  position: relative;
  list-style-type: none;
  padding-left:10px;
}
.legalPoliciesSubPoints::before {
  position: absolute;
  content: "•";
  left: 0;
  color:var(--mainTextColor);
}

/*----------------------------------------RESPONSIVE-------------------------------------------*/
@media (max-width: 780px) {
  .legalPoliciesBox {
    width: 90%;
  }
}
  