.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: var(--normalRadius);
  width: 56px;
  height: 28px;
  padding: 2px;
  transition: background 0.3s ease-in-out;
}
.toggle-container.on {
  background-color: var(--green);
}
.toggle-container.off {
  background-color: var(--mainBackground);
}
.toggle-circle {
  background: var(--white);
  border-radius: var(--cirlce);
  width: 24px;
  height: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.move-right {
  transform: translateX(28px);
}
.move-left {
  transform: translateX(0);
}
