.footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--boxShadow);
}
.footer hr {
  border: none;
  height: 1px;
  margin:0;
  background-color: var(--green);
}

/*-----------------------------------------------FOOTER-TOP--------------------------------------------*/
.footerTop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
  color: var(--secondTextColor);
  gap: 50px;
  padding: 20px 10vw;
}
.footerTop h3 {
  color: var(--mainTextColor);
  margin-bottom: 10px;
}
.footerTop p{
  color:var(--secondTextColor);
}

/*-----------------------------------ALL-COLUMNS-----------------------------------*/
.footerFirstColumn,
.footerSecondColumn,
.footerThirdColumn,
.footerFourthColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  max-width: 100%;
}
.footerMiddleColumn{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:center;
  gap:50px;
}

/*-----------------------------------FIRST-COLUMN-----------------------------------*/
.footerFirstColumn {
  min-width: 400px;
  max-width: 400px;
}
.footerFirstColumn img {
  cursor:pointer;
  width: 130px;
  margin: 10px 0px;
}

/*-----------------------------------SECOND-COLUMN-----------------------------------*/
.footerSecondColumn {
  min-width: 100px;
  max-width: 100px;
}
.footerNav {
  display: flex;
  flex-direction: column;
}
.footerNavElement p{
  cursor: pointer;
  padding:2.5px;
  font-size: var(--textFont);
  color: var(--secondTextColor);
  transition: var(--transition);
}
.footerNavElement:hover p{
  text-decoration:underline;
  color: var(--mainTextColor);
}

/*-----------------------------------THIRD-COLUMN-----------------------------------*/
.footerThirdColumn {
  min-width: 150px;
  max-width: 350px;
}
.footerServices {
  display: flex;
  flex-direction: column;
}
.footerService{
  margin:2.5px;
}

/*-----------------------------------FOURTH-COLUMN-----------------------------------*/
.footerFourthColumn {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  min-width: 300px;
  max-width: 100%;
  gap:20px;
}
.footerContactsBox {
  display: flex;
  flex-direction: column;
}
.footerContacts{
  display:flex;
  flex-direction:column;
}
.footerContact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:2.5px;
  gap: 10px;
  font-size:var(--textFont);
}
.footerContact i {
  color: var(--green);
}

/*-------------------SOCIAL-MEDIA--------------------*/
.footerSocialMediaBox {
  display: flex;
  flex-direction: column;
  width:100%;
}
.footerSocialMedia {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footerSocialMedia li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--mainButtonColor);
  border-radius: var(--circle);
  height: calc(var(--iconFont) * 2);
  width: calc(var(--iconFont) * 2);
  transition: var(--transition);
}
.footerSocialMedia li:hover {
  background-color: var(--mainButtonHover);
}
.footerSocialMedia i {
  color: var(--white);
}

/*-----------------------------------------------FOOTER-BOTTOM--------------------------------------------*/
.footerBottom {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--mainTextColour);
  padding:15px 10px;
}
.footerCreator{
  display:flex;
  flex-direction:row;
  color:var(--mainTextColor);
  font-size:var(--smallTextFont);
}
.footerBottom .fa-copyright {
  margin-right: 5px;
  font-size:var(--smallTextFont);
}
.footerCopyright{
  display:flex;
  flex-direction:row;
  font-size:var(--smallTextFont);
}
.footerCreator a{
  color:var(--mainButtonColor);
  transition:var(--transition);
  
}
.footerCreator a:hover{
  text-decoration:underline;
  color:var(--mainButtonHover);
}

/*-----------------------------------------------RESPONSIVE--------------------------------------------*/
@media (max-width: 1700px) {
  .footerTop {
    padding: 20px 5vw;
  }
  .footerBottom {
    flex-direction: column;
  }
  .footerTop {
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 30px;
  }
  .footerFirstColumn,
  .footerSecondColumn,
  .footerThirdColumn,
  .footerFourthColumn,
  .footerSocialMediaBox,
  .footerContactsBox{
    justify-content:center;
    align-items:center;
    text-align:center;
    min-width:200px;
    max-width:500px;
  }
  .footerNav,
  .footerServices,
  .footerContacts,
  .footerSocialMedia{
    justify-content:center;
    align-items:center;
  }
}
@media (max-width: 780px) {
  .footerTop{
    padding:20px 8px;
  }
  .footerBottom{
    padding:15px 5px;
  }
  .footerMiddleColumn{
    flex-direction:column;
    gap:30px;
  }
  .footerFirstColumn,
  .footerSecondColumn,
  .footerThirdColumn,
  .footerFourthColumn {
    min-width: 100%;
    max-width: 100%;
  }
  .footerCreator, 
  .footerBottom .fa-copyright,
  .footerCopyright{
    font-size:calc(var(--smallTextFont) - 1px);
  }
  .footerContactText{
    font-size:var(--smallTextFont);
  }
   
@media (max-width: 400px) {
  .footerTop {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footerMiddleColumn {
    flex-direction: column;
    gap: 20px;
  }
  .footerFirstColumn,
  .footerSecondColumn,
  .footerThirdColumn,
  .footerFourthColumn {
    align-items: center;
    text-align: center;
  }
}}