/*-----------------------------------------NAVIGATION-----------------------------------------------*/
.navigation {
  display: flex;
  flex-direction: row;
  background-color: var(--green);
  box-shadow: var(--boxShadowBottom);
  width: 100%;
  z-index: 4;
}
.navMenu {
  display: flex;
  width:100%;
  margin: 0px calc(10vw + 20px);
}
.navMenu li i {
  margin-right: var(--iconDistance);
}
.navCatToggle,
.navMenuElement a {
  box-sizing: border-box;
  border: 1px solid transparent;
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: var(--textFont);
  border-radius: var(--normalRadius);
  color: var(--white);
}
.navCatToggle:hover,
.navCatToggle.active,
.navMenuElement a:hover,
.navMenuElement a.active {
  transition: var(--transition);
  border: 1px solid var(--white);
}
.navDropDownClosing {
  display: none;
  flex-direction:column;
  justify-content:center;
  padding: 10px 20px;
}
.navDropDownClosingBox{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}
.navDropDownClosingBox i{
  cursor:pointer;
  padding:3px;
  font-size: 20px;
  transition:var(--transition);
}
.navDropDownClosingBox i:hover{
  color:var(--green);
}
.navDropDownClosing hr{
  height:2px;
  padding:0px 20px;
}
.navDropDownCloseTitle{
  color:var(--green);
}

/*----------------------------------DROPDOWN-MENU--------------------------------------------*/
.navDropDown {
  position: relative;
}
.navDropDown a {
  display: flex;
  align-items: center;
}
.navDropDown fa-bars {
  margin-left: var(--iconDistance);
}
.navDropDownContent {
  display: flex;
  flex-direction: column;
  border-right: none;
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  min-width: 160px;
  z-index: 11;
  top: 100%;
  left: 0;
  background: var(--white);
  border-radius: 0 0 var(--smallRadius) var(--smallRadius);
  box-shadow: var(--boxShadow);
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.5s ease, visibility 0s 0.1s;
}
.navDropDownContent:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: var(--smallRadius);
}
.navDropDownContent.show,
.navDropDown:hover .navDropDownContent {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s ease, transform 0.5s ease, visibility 0s;
}
.navDropDownElement:last-child .navDropDownElementABox{
  border-bottom-left-radius: var(--smallRadius);
}
.navDropDownElementABox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  box-sizing: border-box;
  font: var(--textFont);
  color: var(--mainTextColor);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 10px 20px;
  transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
}
.navDropDownElementABox i {
  display: none;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 16px;
  color: var(--mainTextColor);
}
.navDropDownElement:hover .navSubMenu,
.navDropDownElement:focus-within .navSubMenu {
  display: block;
  transform: translateX(0);
  opacity: 1;
}
.navDropDownElement:hover .navDropDownElementABox,
.navDropDownElement:focus-within .navDropDownElementABox {
  border-right: transparent;
  border-top: 1px solid var(--secondBackground);
  border-bottom: 1px solid var(--secondBackground);
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2), 0 5px 5px -5px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  color: var(--green);
  z-index: 12;
}
.navDropDownElement:hover .navDropDownElementABox i {
  color: var(--green);
}
.navDropDownElement:first-child:hover .navDropDownElementABox {
  border-top: 1px solid transparent;
}
.navDropDownElement:last-child:hover .navDropDownElementABox {
  border-bottom: 1px solid transparent;
}

/*-------------------------------------------SUB-MENU--------------------------------------------*/
.navDropDownElement:hover .navSubMenu {
  display: block;
  transform: translateX(0);
  opacity: 1;
}
.navSubMenu {
  display: none;
  position: absolute;
  list-style: none;
  background: var(--white);
  border-radius:0 0 var(--smallRadius) 0;
  transform: translateX(-20px);
  left: 100%;
  height: 100%;
  width: 70vw;
  columns: 3;
  top:0px;
  padding-bottom:5px;
  box-shadow:var(--boxShadow);
  opacity: 0;
  z-index:-1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.navSubMenu:hover {
  display: block;
  transform: translateX(0);
  opacity: 1;
}
.navSubDropDownElement a{
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font: var(--textFont);
  color: var(--secondTextColor);
  transition: 0.2s;
  font-size:var(--textFont);
  padding: 10px 20px;
  border: 1px solid transparent;
}
.navSubDropDownElement:hover a{
  color: var(--green);
  background: none;
  text-decoration:underline;
}
.navSubMenuTitle,
.navSubMenuSubTitle{
  margin: 5px 10px;
  padding: 5px 10px;
  color: var(--green);
}
.navSubMenuTitle{
  font-size: calc(var(--textFont) + 15px);
}
.navSubMenuSubTitle{
  font-size: calc(var(--textFont) + 5px);
}

/*-------------------------------------------MORE-DROP-DOWN-MENU--------------------------------------------*/
.navMore {
  position: relative;
  display: none;
}
.navDropDownMore {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  border-right: none;
  box-sizing: border-box;
  min-width: 160px;
  opacity: 0;
  z-index: 11;
  top: 100%;
  transform: translateY(-10px);
  background: var(--white);
  border: 1px solid var(--secondBackground);
  border-radius: 0 0 var(--smallRadius) var(--smallRadius);
  box-shadow: var(--boxShadow);
  transition: opacity 0.2s ease, transform 0.5s ease, visibility 0s 0.1s;
}
.navDropDownMore.show{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s ease, transform 0.5s ease, visibility 0s;
}
.navDropDownMoreElement{
  display: flex;
  flex-direction: column;
}
.navDropDownMoreElement i {
  margin-right: var(--iconDistance);
}
.navDropDownMoreElement a {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--mainTextColor);
  font: var(--textFont);
  padding: 10px 20px;
  margin: 0;
  transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
}
.navDropDownMoreElement:hover a{
  text-decoration:underline;
  color:var(--green);
}

/*-------------------------------------------RESPONSIVE--------------------------------------------*/
@media (max-width: 1250px) {
  .navMenuElement {
    display: none;
  }
  .navMenu {
    margin: 0 calc(5vw + 10px);
    align-items: center;
  }
  .navMore {
    display: contents;
    display:flex;
  }
  .navDropDownElementABox .fa-angle-down{
    display: flex;
    transition:0.5s;
  }
  .navDropDownElement.active .fa-angle-down{
    transform: rotate(-180deg);
  }
  .navDropDownElement:hover .navDropDownElementABox, 
  .navDropDownElement:focus-within .navDropDownElementABox{
    border-right: initial;
    box-shadow: none;
    z-index: initial;
    cursor:pointer;
    background-color:initial;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: var(--mainTextColor);
  }
  .navDropDownElement.active .navDropDownElementABox{
    border-top: 1px solid var(--secondBackground);
    border-bottom: 1px solid var(--secondBackground);
  }
  .navDropDownElementA{
    transition:var(--transition);
  }
  .navDropDownElement:hover .navDropDownElementA,
  .navDropDownElement.active .navDropDownElementA{
    color:var(--green);
    text-decoration:underline;
  }
  .navDropDownClosing {
    display: flex;
  }
  .navDropDownContent,
  .navDropDownMore {
    position: fixed;
    overflow-y:scroll;
    top: 60px;
    max-height: calc(100vh - 60px);
    width: 300px;
    z-index: 50;
    left:0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 100px;
    transform: translateX(-100%);
    transition: var(--transition);
  }
  .navDropDownElement:last-child .navDropDownElementABox{
    border-bottom-left-radius: 0;
  }
  .navSubMenu {
    position: static;
    width: auto;
    transform: none;
    display: block;
    height: auto;
    box-shadow: none;
    overflow: hidden;
    max-width: 100%;
    max-height: 0;
    columns: 1;
    opacity: 0;
    padding-left: 0;
    transition: max-height 0.5s ease-in-out;
    margin:0px 0px;
    margin-left: 20px;
  }
  .navSubMenu.show {
    max-height: 1000px;
    opacity: 1;
    pointer-events: auto;
  }
  .navDropDownContent.show,
  .navDropDownMore.show{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    transition:var(--transition)
  }
  .navDropDownContent li:last-child a,
  .navDropDownMore li:last-child a {
    border-radius: 0;
  }
  .navDropDownContent,
  .navDropDownMore {
    padding-top: 40px;
  }
  .navOverlay {
    position: fixed;
    visibility: hidden;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 40;
    opacity: 0;
    height: calc(100% - var(--headerHeight, 60px));
    background-color:var(--darkOverlay);
    transition: var(--transition);
  }
  .navOverlay.show {
    visibility: visible;
    opacity: 1;
    transition:var(--transition);
  }
}
@media (max-width: 1000px) {
  .navDropDownContent,
  .navDropDownMore {
    top:140px;
    height: 100%;
  }
  .navOverlay {
    top:140px;
  }
}
@media (max-width: 780px) {
  .navMenu {
    margin: 0 20px;
  }
  .navSubMenu h2 {
    font-size: calc(var(--textFont) + 5px);
  }
  .navSubMenu h3 {
    font-size: calc(var(--textFont) + 2.5px);
  }
}