.admin{
  display: flex;
  flex-direction:row;
  min-height: 100vh;
  padding:20px;
  gap:20px;
}
.adminSidebar{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
  width:100%;
  max-width:300px;
  min-width:200px;
  padding: 20px;
  background-color:var(--white);
  border-radius:var(--smallRadius);
  box-shadow: var(--boxShadowLight);
}
.adminSidebarNav{
  display:flex;
  flex-direction:column;
  width:100%;
}
.adminSidebar .fa-circle-user{
  color:var(--secondBackground);
  font-size:150px;
}
.adminSideBarMainTitle{
  text-align:center;
}
.adminButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  border-radius:5px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  transition:var(--transition);
}
.adminButton i{
  margin-right:var(--iconDistance);
}
.adminButton:hover {
  background-color: var(--secondBackground);
}
.adminButton.active{
  background-color:var(--veryLightGreen);
  color:var(--green);
}
.adminContentArea {
  flex-grow: 1;
}
/*-------------------------------RESPONSIVE-------------------------------------------*/
@media(max-width:1200px){
  .admin{
    flex-direction:column;
  }
  .adminSidebar{
    max-width:none;
  }
}