
.profile{
  display: flex;
  flex-direction:row;
  min-height: 100vh;
  padding:20px;
  gap:20px;
}
.profileSidebar {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
  width: 300px;
  padding: 20px;
  background-color:var(--white);
  border-radius:var(--smallRadius);
  box-shadow: var(--boxShadowLight);
}
.profileSidebar .fa-circle-user{
  color:var(--secondBackground);
  font-size:150px;
}
.profileSidebarNav{
  width:100%;
}
.profileButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  border-radius:5px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  transition:var(--transition);
}
.profileButton i{
  margin-right:var(--iconDistance);
}
.profileButton:hover {
  background-color: var(--secondBackground);
}
.profileButton.active{
  background-color:var(--veryLightGreen);
  color:var(--green);
}
.profileContentArea {
  flex-grow: 1;
}

/*----------------------------------------------------SETTINGS----------------------------------------------------*/
.profileContentAriaSettings{
  display:flex;
  flex-direction:column;
  background-color:var(--white);
  border-radius:var(--smallRadius);
  box-shadow:var(--boxShadowLight);
  padding:20px;
  gap:20px;
}
.settingsFormRow {
  display: flex;
  gap: 20px;
}
.settingsFormGroup {
  flex-grow: 1;
  margin-bottom: 15px;
}
.settingsFormGroup label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondTextColor);
}
.settingsFormGroup input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--secondBackground);
}
.settingsSaveBtn{
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  gap: 10px;
  background-color:var(--green);
  color:var(--white);
  transition:var(--transition);
}
.settingsSaveBtn:hover {
  background-color: var(--lightGreen);
}