.logoutContainer {
  position: relative;
}
.logoutAlertOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--darkOverlay);
  backdrop-filter: blur(1px);
  animation: fadeIn var(--transition);
}
.logoutAlert {
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: var(--white);
  border-radius:var(--smallRadius);
  gap:20px;
  padding: 20px 10px;
  width: 90%;
  max-width: 400px;
  box-shadow:var(--boxShadowLight);
  animation: slideUp var(--transition);
}
.logoutAlertHeader {
  display: flex;
  flex-direction:column;
    align-items: center;
  gap: 10px;
}
.logoutTitle,
.logoutSubTitle{
  color: var(--mainTextColor);
}
.logoutAlertButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.logoutCancelButton, .logoutConfirmButton {
  border:none;
  cursor: pointer;
  padding: 12px 20px;
  min-width:120px;
  border-radius: var(--smallRadius);
  font-size:var(--textFont);
  transition: var(--transition);
}
.logoutCancelButton {
  background-color: var(--secondButtonColor);
  color: var(--mainTextColor);
}
.logoutCancelButton:hover {
  background-color: var(--secondButtonHover);
  transform:translateY(-1px);
}
.logoutConfirmButton {
  background-color:var(--thirdButtonColor);
  color: var(--white);
}
.logoutConfirmButton:hover {
  background-color: var(--thirdButtonHover);
  transform:translateY(-1px);
}

/*------------------------------------------ANIMATION----------------------------------------*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/*----------------------------------------RESPONSIVE----------------------------------------*/
@media (max-width: 480px) {
  .authAlertBox {
    padding: 20px 15px;
  }
  .logoutAlertButtons {
    flex-direction: column;  
    width: 100%;
    gap: 10px;
  }
}