.profileContentAriafavorites {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.favoritesMainTitleBox {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--smallRadius);
  box-shadow: var(--boxShadowLight);
}
.favoritesMainTitle {
  color: var(--mainTextColor);
}
.favoritesMainTitleNumber {
  color: var(--green);
}
.favoritesList {
  width: 100%;
}
