/*----------------------------------FRONT-PAGE-----------------------------------*/
.frontPage{
   display:flex;
   flex-direction:column;
}
img {
   width:100px;
}
/*-------------------------------HERO-SECTION---------------------------------*/
.fPHeroSection{
   background-image: url(../../public/images/HeroSection1.jpeg);
   background-repeat:no-repeat;
   background-position:center;
   background-size:cover;
   width:100%;
   display:flex;
   flex-direction:column;
   padding:17.5vw 10vw;
   padding-right:20vw;
}
.fPHeroSectionTitle1{
   color:var(--green);
}
.fPHeroSectionTitle2{
   color:var(--mainTextColor);
   margin-bottom:10px;
}
.fPHeroSectionLearnMore{
   max-width:200px;
   border:none;
   background-color:var(--green);
   color:var(--white);
   border-radius:var(--normalRadius);
   margin:10px 0px;
   padding:15px 15px;
   transition:var(--transition);
   font-size:calc(var(--textFont) + 2px);
   cursor:pointer;
}
.fPHeroSectionLearnMore i{
   margin-left:var(--iconDistance);
}
.fPHeroSectionLearnMore:hover{
   background-color:var(--lightGreen);
}

/*--------------------------HERO-SECTION-ANIMATIONS---------------------------*/
.fPHeroSectionTitle1.hidden{
   opacity: 0;
   transition:0.4s ease-in-out;
   transform: translateX(-40px);
 }
 .fPHeroSectionTitle2.hidden{
   opacity: 0;
   transition:0.4s ease-in-out;
   transform: translateX(40px);
 }
 .fPHeroSectionTitle1.show,
 .fPHeroSectionTitle2.show{
   opacity:1;
   transform:translateX(0px);
 }
 .fPHeroSectionSubTitle.hidden,
 .fPHeroSectionLearnMore.hidden{
   opacity:0;
   transition:0.4s ease-in-out;
 }
 .fPHeroSectionSubTitle.show,
 .fPHeroSectionLearnMore.show{
   opacity:1;
 }
/*-------------------------------TOP-PRODUCTS---------------------------------*/
.fPTopProducts{
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   gap:40px;
   padding:3vw 5vw;
}
.fPTopProductsTitleBox {
   border-radius: var(--normalRadius);
   margin:0px 20px;
}
.fPTopProductsTitle1{
   color:var(--green);
}
.fPTopProductsTitleBox {
   padding-bottom:10px;
   text-align: center;
}
.fPTopProductsTitle1 {
   color: var(--green);
   position: relative;
 }
 .fPTopProductsTitle1 {
   color: var(--green);
   position: relative;
 }
 .fPTopProductsTitle1::after {
   content: "";
   display: block;
   height: 3px;
   border-radius: var(--normalRadius);
   background-color: var(--mainTextColor);
   width: 0;
   position: absolute;
   left: 0;
   margin-top: 5px;
   transform: translateY(-50%);
 }
 .fPTopProductsTitle1.hidden::after {
   width: 0vw;
   transition: 0.5s ease-out;
 }
 .fPTopProductsTitle1.show::after{
   width: 13vw;
 }
/*--------------------------BENEFITS----------------------------*/
.fPTopProductsBenefitsBox {
   display: flex;
   flex-direction: row;
   gap: 2vw;
   justify-content: center;
   background-color: var(--lightBackground);
   border-radius: var(--smallRadius);
   align-items: stretch;
 }
 .fPTopProductsBenefit {
   display: flex;
   flex-direction: row;
   border: 3px solid var(--green);
   border-radius: var(--smallRadius);
   padding: 8px;
   justify-content:flex-start;
   align-items: center;
   gap: 10px;
   color: var(--green);
   background-color: var(--mainBackground);
   transition: var(--transition);
   box-shadow: var(--boxShadowBottom);
   flex-grow: 1;
   min-width:250px;
 }
 .fPTopProductsBenefit:hover {
   background-color:var(--mainBackground);
   box-shadow: var(--boxShadowLight);
   border:3px solid var(--lightGreen);
 }
 .fPTopProductsBenefit:hover .fPTopProductsIconBox{
   background-color:var(--lightGreen);
   border:2px solid var(--lightGreen);
 }
 .fPTopProductsIconBox {
   width: 50px;
   height: 50px;
   border: 3px solid var(--green);
   border-radius: var(--smallRadius);
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--green);
   color: var(--white);
   transition:var(--transition);
 }
 .fPTopProductsIconBox i{
   font-size:var(--iconFont);
 }
 .fPTopProductsBenefitText {
   color: var(--mainTextColor);
   font-weight: bold;
   font-size:calc(var(--textFont) + 2px);
 }
 @keyframes slideInLeft {
   from {
     transform: translateY(50px);
     opacity: 0;
   }
   to {
     transform: translateY(0);
     opacity: 1;
   }
 }
 .fPTopProductsBenefit {
   opacity: 0;
   transform: translateY(50px);
 }
 .fPTopProductsBenefit.show {
   animation: slideInLeft 0.5s ease-out forwards;
 }
 /*--------------------PRODUCTS-----------------------*/
 
/*-------------------------------WHO-WE-ARE---------------------------------*/
.fPWhoWeAre{
   display:flex;
   flex-direction:column;
   align-items:center;
   background-color:var(--frontPageBackground);
   padding-top:70px;
   gap:20px;
}
.fPWhoWeAreBox{
   display:flex;
   flex-direction:column;
   gap:20px;
}
.fPWhoWeAreRow{
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items:center;
   gap: 30px;
   border-radius:var(--normalRadius);
   width: 100%;
   max-width: 1200px;
   padding: 20px;
}
.fPWhoWeAreImage1,
.fPWhoWeAreImage3{
   border:2px solid var(--green);
   border-radius:var(--normalRadius);
   width:600px;
}
.fPWhoWeAreImage3.hidden{
   transition: transform 0.5s ease, opacity 0.3s ease;
   opacity: 0;
   transform: rotate(-10deg);
}
.fPWhoWeAreImage3.show{
   opacity: 1;
   transform: rotate(3deg);
}
.fPWhoWeAreImage1.hidden{
   transition: transform 0.5s ease, opacity 0.3s ease;
   opacity: 0;
   transform: rotate(10deg);
}
.fPWhoWeAreImage1.show{
   opacity: 1;
   transform: rotate(-3deg);
}
.fPWhoWeAreTextBox{
   display:flex;
   flex-direction:column;
   gap:20px;
}
.fPWhoWeAreTitle{
   color:var(--green);
   position:relative;
}
.fPWhoWeAreTitle::after{
   content: "";
   display: block;
   height: 3px;
   border-radius: var(--normalRadius);
   background-color: var(--mainTextColor);
   width: 10vw;
   position: absolute;
   left: 0;
   margin-top:5px;
   transform: translateY(-50%);
}
 .fPWhoWeAreTitle.hidden::after {
   width: 0vw;
   transition: 0.5s ease-out;
 }
 .fPWhoWeAreTitle.show::after{
   width: 13vw;
 }
 .fPWhoWeAreText{
   color: var(--mainTextColor);
   font-weight: bold;
   font-size:calc(var(--textFont) + 2px);
}
/*-------------------------------WHO-WE-WORK-WITH--------------------------------*/
.fPWhoWeWorkWith{
   background-color:var(--frontPageBackground);
   margin-top:0px;
}
.fPWhoWeWorkWithMainBox{
   background-color:var(--mainBackground);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items:center;
   padding: 30vw 0vw;
   margin-bottom:30px;
   clip-path: polygon(
       0% 20%,
       100% 10%,
       100% 90%,
       0% 80%
   );
}
.fPWhoWeWorkWithTitle1{
   color:var(--mainBackground);
}
.fPWhoWeWorkWithImageBox img{
   background-color:transparent;
}

/*-------------------------------REVIEWS--------------------------------*/
.fPReviews{
   background-color:var(--frontPageBackground);
   display:flex;
   flex-direction:column;
}
.fPReviewsTitleBox{
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
}

/*-------------------------------RESPONSIVE---------------------------------*/
@media (max-width: 1200px) {
   .fPHeroSection {
       padding: 15vw 5vw;
       padding-right: 40vw;
   }
   .fPHeroSectionTitle1,
   .fPHeroSectionTitle2{
       font-size: calc(var(--textFont) + 15px);
   }
   .fPHeroSectionSubTitle {
       font-size: var(--smallTextFont);
   }
   .fPHeroSectionLearnMore{
       max-width:190px;
       padding:15px 10px;
   }

/*--------------TOP-PRODUCTS----------------*/
   .fPTopProductsBenefitsBox{
      flex-direction:column;
   }
   .fPTopProducts{
      gap:15px;
   }
   .fPTopProductsTitle1.show::after{
      width: 26vw;
    }
   .fPTopProductsTitle1{
      font-size: calc(var(--textFont) + 10px);
   }
   .fPTopProductsTitleBox {
      padding-top:10px;
   }

/*---------------WHO-WE-ARE-----------------*/
   .fPWhoWeAre{
      padding-top:60px;
   }
  .fPWhoWeAreRow{
   flex-direction:column;
   max-width:780px;
  }
  .fPWhoWeAreTextBox{
   justify-content:center;
   align-items:center;
  }
  .fPWhoWeAreTitle{
   font-size: calc(var(--textFont) + 10px);
  }
  .fPWhoWeAreText{
   text-align:center;
  }
  .fPWhoWeAreImage1,
  .fPWhoWeAreImage3{
   width:400px;
}
  .fPWhoWeAreImage3 {
   order: 1;
 }
 .fPWhoWeAreTextBox {
   order: 2;
 }
 .fPWhoWeAreTitle.show::after{
   width: 28vw;
 }
}
@media (max-width: 780px) {
   .fPHeroSection {
       padding: 15vw 5vw;
       padding-right: 25vw;
   }
   .fPHeroSectionTitle1,
   .fPHeroSectionTitle2{
       font-size: calc(var(--textFont) + 10px);
   }
   .fPHeroSectionSubTitle {
       font-size: var(--smallTextFont);
   }
   .fPHeroSectionLearnMore{
       max-width:180px;
       padding:15px 7.5px;
   }

/*--------------TOP-PRODUCTS----------------*/
   .fPTopProductsBenefitText {
   font-size:var(--smallTextFont);
   }
   .fPTopProductsBenefit{
      padding:5px;
   }
   .fPTopProductsIconBox {
      width: 40px;
      height: 40px;
      padding:10px;
   }
   .fPTopProductsTitleBox{
      margin:0px 10px;
   }
   .fPTopProductsTitle1.show::after{
      width: 36vw;
   }
   .fPTopProductsTitle1{
      font-size: calc(var(--textFont) + 5px);
   }

/*-------------------WHO-WE-ARE-----------------------*/
   .fPWhoWeAre{
      padding-top:50px;
   }
   .fPWhoWeAreRow{
      max-width:600px;
   }
   .fPWhoWeAreTitle{
      font-size: calc(var(--textFont) + 5px);
   }
   .fPWhoWeAreImage1,
   .fPWhoWeAreImage3{
      width:350px;
   }
   .fPWhoWeAreTitle.show::after{
      width: 36vw;
   }
}
@media (max-width: 600px) {
   .fPHeroSectionTitle1,
   .fPHeroSectionTitle2{
       font-size: calc(var(--textFont) + 5px);
   }
   .fPHeroSectionLearnMore{
       padding:12.5px 0px;
   }

/*--------------TOP-PRODUCTS----------------*/
   .fPTopProductsTitle1{
      font-size:var(--smallTextFont);
   }
   .fPTopProductsTitle1.show::after{
      width: 40vw;
   }

/*---------------------WHO-WE-ARE---------------------------*/
   .fPWhoWeAre{
      padding-top:40px;
   }
   .fPWhoWeAreRow{
      max-width:500px;
   }
   .fPWhoWeAreTitle{
      font-size: var(--smallTextFont);
   }
   .fPWhoWeAreImage1,
   .fPWhoWeAreImage3{
      width:300px;
   }
   .fPWhoWeAreTitle.show::after{
      width: 40vw;
   }
}