.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 0px 20px;
 }
  /*------------------------------SERV-BOX-HEADER----------------------------------*/
 .servHeader{
  text-align: center;
  color:var(--darker);
  margin-bottom:20px;
  margin-top:60px;
 }
 .servHeader h1 {
  margin-bottom: 10px;
  color:var(--green);
 }
.servHeader{
  max-width:1000px;
  width:100%;
  background:var(--white);
  border-radius: var(--radius);
  box-shadow:var(--boxShadow);
  padding:20px;
}
.servBox {
  width: 100%;
  max-width: 1000px;
  margin:20px 50px;
 }
 /*------------------------------SERVICES----------------------------------*/
 .servServices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1500px;
 }
 .servService {
  background-color:var(--white);
  border-radius: var(--radius);
  padding: 20px;
  box-shadow: var(--boxShadowBottom);
  text-align: center;
  transition: var(--transition);
 }
 .servService:hover {
  transform: translateY(-5px);
  box-shadow: var(--boxShadowLight);
 }
 .servService i {
  font-size: calc(var(--font) * 2.5);
  color: var(--green);
  margin-bottom: 15px;
 }
 .servServiceTitle{
  color: var(--darker);
  margin-bottom: 10px;
 }
 .servServiceDescription{
  font-size:var(--font);
  color: var(--darker);
 }
/*------------------------------LOCATION----------------------------------*/
 .servSmallerHeader p{
  font-size:calc(var(--font) + 2.5);
  margin-top:10px;
 }
 .servLocation {
  background:var(--white);
  border-radius: var(--radius);
  box-shadow:var(--boxShadow);
  padding: 20px;
 }
 .servLocationText {
  font-size: var(--font);
  color: var(--darker);
  margin-bottom: 10px;
 }
 .servMap{
  border-radius: 10px;
  margin-top: 20px;
  border:none;
  width:100%;
  height:400px;
 }
 
 /*------------------------------DELIVERY----------------------------------*/
.servDelivery {
  gap:20px;
  display:flex;
  flex-direction:column;
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--boxShadow);
  padding:20px;
}
.servDeliveryAreas{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
}
.servCitiesBox {
  position: relative;
  color: var(--black);
  padding: 15px;
  background-color: var(--lightDark);
  border: 2px solid transparent;
  border-radius: var(--radius);
  text-align: center;
  margin: 10px;
  transition:var(--transition);
  overflow: hidden;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servCitiesBox:hover {
  transform: scale(1.025);
  background-color: var(--white);
  color: var(--darker);
  border: 2px solid var(--lightDark);
}
.servDeliveryTerms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.servDelivery h3{
  color:var(--darker);
}
.servTerms {
  font-size: var(--font);
  color: var(--black);
  background-color: var(--lightDark);
  padding: 15px;
  border-radius: var(--radius);
  list-style-type: none;
  transition:var(--transition);
}
.servTerms:hover{
  transform:translateY(-5px);
}
 /*------------------------------COMMENTS----------------------------------*/
 /*------------------------------RESPONSIVE----------------------------------*/
 @media (max-width:1600px){
  .servServices {
    display: flex;
    flex-direction:column;
    width: 100%;
    max-width: 1000px;
   }
   .servDeliveryAreas{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
  }
 }
 @media (max-width:600px){
  .servDeliveryAreas{
    display:grid;
    grid-template-columns:repeat(1, 1fr);
  }
 }