.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 30px;
 }
  /*------------------------------SERV-HEADER----------------------------------*/
 .servHeader {
  text-align: center;
  color:var(--black);
 }
 .servHeader h1 {
  font-size:calc(var(--font) * 3);
  margin-bottom: 10px;
 }
 .servHeader p {
  font-size: calc(var(--font) + 5);
 }

 /*------------------------------SERVICES----------------------------------*/
 .servServices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1600px;
  margin: 40px 10px;
 }
 .servService {
  background-color:var(--white);
  border-radius: var(--radius);
  padding: 20px;
  box-shadow: var(--boxShadowBottom);
  text-align: center;
  transition: var(--transition);
 }
 .servService:hover {
  transform: translateY(-5px);
  box-shadow: var(--boxShadowLight);
 }
 .servService i {
  font-size: calc(var(--font) * 2.5);
  color: var(--green);
  margin-bottom: 15px;
 }
 .servServiceTitle{
  font-size:calc(var(--font) * 1.5);
  color: var(--darker);
  margin-bottom: 10px;
 }
 .servServiceDescription{
  font-size: calc(var(--font) + 2.5);
  color: var(--darker);
 }
/*------------------------------LOCATION----------------------------------*/
 .servLocation {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
 }
 .servLocation h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 10px;
 }
 .servLocation p {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 20px;
 }
 .servLocationCard {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
 }
 .servLocationCard h3 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 10px;
 }
 .servLocationCard p {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 10px;
 }
 iframe {
  border-radius: 10px;
  margin-top: 20px;
 }
 /*------------------------------DELIVERY----------------------------------*/
 /*------------------------------COMMENTS----------------------------------*/
 /*------------------------------RESPONSIVE----------------------------------*/
 @media (max-width:1300px){
  .servServices {
    display: flex;
    flex-direction:column;
    width: 100%;
    max-width: 800px;
   }
 }