* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --green: #2e8b57;
  --lightGreen: #3fac4fdc;
  --reallyLightGreen:#42c05559;
  --white: white;
  --light: #f9f9f9;
  --darker: rgb(73, 73, 73);
  --dark: rgb(175, 175, 175);
  --lightDark:#ecececb7;
  --black:black;
  --boxShadow: 0 0 20px rgb(0, 0, 3, 0.2);
  --boxShadowBottom: 0 10px 15px rgba(0, 0, 3, 0.171);
  --boxShadowLight:0 6px 12px rgba(0, 0, 0, 0.089);
  --transition: 0.3s;
  --iconDistance:8px;
  --radius:14px;
  --font:15px;
  --width:100px;
  --button:20px 10px;
 }
body {
  background: var(--white);
}
a {
  text-decoration: none;
  color: var(--darker);
}
li {
  list-style: none;
}
a,
.header,
.navigation,
.menu,
.search-box,
.search-bar {
  display: flex;
  flex-direction: row;
}
hr{
  background-color: var(--green);
  border: none;
  border-radius:var(--radius);
  height: 2px;
  width: 100%;
  margin: 10px 0;
}