* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  /*----------------------COLORS---------------------*/
  --green: #2e8b56;
  --lightGreen: #4ca55a;
  --veryLightGreen: #7bce8744;
  --white: white;

  /*------------------ELEMENT-COLORS-----------------*/
  --mainBackground: rgb(255, 252, 239);
  --secondBackground:#e7e7e7bb;
  --frontPageBackground:rgb(250, 243, 211);

  --mainTextColor: rgba(58, 58, 58, 0.911);
  --secondTextColor: rgba(27, 27, 27, 0.623);

  --errorColor: rgb(216, 27, 27);

  /*------------------ELEMENT-RADIUS-----------------*/
  --circle: 50%;
  --bigRadius: 30px;
  --normalRadius: 25px;
  --smallRadius: 15px;

  /*------------------ELEMENT-SHADOW-----------------*/
  --boxShadow: 0 0 20px rgb(0, 0, 3, 0.2);
  --boxShadowLight: 0 6px 12px rgba(0, 0, 0, 0.089);
  --boxShadowBottom: 0 10px 15px rgba(0, 0, 3, 0.171);
  --errorBoxShadow: 0 0 0 2px rgba(182, 47, 47, 0.247);
  
  /*------------------ELEMENT-TRANSITION-------------*/
  --transition: 0.3s;

  /*-------------------ELEMENT-SIZE------------------*/
  --textFont: 16px;
  --smallTextFont:15px;
  --iconFont:17px;
  --headerHeight: 60px;
  
  /*-----------------ELEMENT-DISTANCE----------------*/
  --iconDistance: 8px;
}
.darkMode {
  /*------------------ELEMENT-COLORS-----------------*/
  --mainBackground: rgb(27, 27, 27);
  --secondBackground: rgb(51, 51, 51);

  --mainTextColor: rgba(255, 255, 255, 0.911);
  --secondTextColor: rgba(255, 255, 255, 0.623);

  /*------------------ELEMENT-SHADOW-----------------*/
  --boxShadow: 0 0 20px rgba(255, 255, 255, 0.1);
  --boxShadowBottom: 0 10px 15px rgba(255, 255, 255, 0.1);
  --boxShadowLight: 0 6px 12px rgba(255, 255, 255, 0.05);
  --errorBoxShadow: 0 0 0 2px rgba(216, 27, 27, 0.5);
}

body {
  transition: background-color var(--transition), color var(--transition);
  background: var(--white);
  color: var(--mainTextColor);
}
a {
  text-decoration: none;
  color: var(--mainTextColor);
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
}
p{
  font-size:var(--textFont);
  color:var(--mainTextColor);
}
h1,
h2,
h3,
h4,
h5{
  color:var(--mainTextColor);
}
hr {
  background-color: var(--green);
  border: none;
  border-radius: var(--normalRadius);
  height: 2px;
  width: 100%;
  margin: 10px 0;
}
