.singleProductPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height:508px;
  background-color:var(--white);
  padding:20px;
}
.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
  height: 100%;
  gap:20px;
}

/*-------------------------------PRODUCT-NOT-FOUND------------------------------*/
.productNotFound {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--white);
  border-radius: 0 0 var(--smallRadius) var(--smallRadius);
  box-shadow: var(--boxShadow);
}
.productNotFoundTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.goBackButton {
  color: var(--white);
  background-color: var(--mainButtonColor);
  border: none;
  font-size: var(--textFont);
  border-radius: var(--smallRadius);
  padding: 10px 20px;
  transition: var(--transition);
  cursor: pointer;
}
.goBackButton i{
  margin-right:var(--iconDistance);
}
.goBackButton:hover {
  background-color: var(--mainButtonHover);
  transform: translateY(-1px);
}
.goBackButtonForProduct {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--white);
  background-color: var(--mainButtonColor);
  border: none;
  font-size: var(--textFont);
  border-radius: var(--smallRadius);
  padding: 10px 20px;
  transition: var(--transition);
  cursor: pointer;
  width: 150px;
  z-index: 2;
}
.goBackButtonForProduct:hover {
  background-color: var(--mainButtonHover);
  transform: translateY(-1px);
}

/*-------------------------------IMAGE-SECTION------------------------------*/
.productImageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--white);
  height: 100%;
  min-height: 400px;
}
.imageWrapper{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.imagePlaceholder{
  margin-top:20%;
}
.productImage {
  margin-top:20px;
  max-width:500px;
  object-fit: contain;
  border-radius: 4px;
}
.wishlistBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--white);
  color: var(--secondBackgrund);
  font-size: var(--textFont);
  border: none;
  border-radius: var(--circle);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--boxShadow);
  transition: var(--transition);
}
.wishlistBtn:hover {
  color: var(--errorColor);
}
.wishlistBtn .fa-heart.active{
  color: var(--errorColor);
}

/*-------------------------------PRODUCT-DETAILS------------------------------*/
.productDetailsSection {
  display: flex;
  flex-direction: column;
  gap:10px;
  padding:10px 0px;
}
.productMainTitle {
  color: var(--mainTextColor);
}
.productInfoNotTitle{
  display: flex;
  flex-direction: column;
  padding:0px 10px;
}
.productCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.categoryTag{
  background-color:var(--veryLightGreen);
  color: var(--mainButtonHover);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: var(--smallTextFont);
  font-weight: 500;
  cursor: pointer;
  transition:var(--transition);
}
.categoryTag:hover{
  transform:translateY(-1px);
}

/*-------------------------------PRICE-------------------------------*/
.productPriceBox {
  display: flex;
  flex-direction:row;
  font-size:var(--textFont);
  gap:20px;
  padding:20px 0px;
}
.productPrice{
  display: flex;
  flex-direction:row;
  justify-content:bottom;
  align-items:end;
  gap:5px;
  font-size:30px;
  color:var(--mainTextColor);
}
.priceValue {
  font-size: 40px;
  font-weight: 700;
  transform:translateY(5px);
}
.priceCurrency {
  font-size:20px;
}
.stockInfo {
  display: flex;
  align-items: end;
  font-size:var(--textFont);
}
.stockInfo.soldOut p{
  color:var(--errorColor);
}
.stockInfo.available p{
  color:var(--green);
}
.stockInfo i {
  margin-right:var(--iconDistance);
  font-size:18px;
}

/*-------------------------------PURCHASE-CONTROLS-------------------------------*/
.purchaseControls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.quantityControl {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondBackground);
  border-radius: calc(var(--smallRadius) - 2px);
  overflow: hidden;
}
.quantityBtn {
  background-color: var(--secondButtonColor);
  border: none;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}
.quantityBtn:disabled{
  cursor:default;
  color:var(--secondButtonHover);
}
.quantityBtn:disabled:hover{
  background-color:var(--secondBackground);
}
.quantityBtn:hover {
  background-color: var(--secondButtonHover);
}
.quantityInput {
  width: 100px;
  height: 40px;
  border: none;
  outline:none;
  border-left: 1px solid var(--secondBackground);;
  border-right: 1px solid var(--secondBackground);;
  text-align: center;
  font-size: calc(var(--textFont) + 4px);
}
.quantityInput::-webkit-inner-spin-button,
.quantityInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.singleProductAddToCartBtn {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background-color: var(--mainButtonColor);
  color: var(--white);
  border-radius: var(--smallRadius);
  height: 40px;
  min-width:250px;
  transition: var(--transition);
}
.singleProductAddToCartBtn:hover {
  background-color: var(--mainButtonHover);
  transform:translateY(-1px);
}
.singleProductAddToCartBtn i {
  margin-right:var(--iconDistance);
}
.singleProductAddToCartBtn:disabled,
.singleProductAddToCartBtn:disabled:hover{
  color:var(--mainTextColor);
  background-color:var(--secondButtonColor);
  transform:translateY(0px);
}
.productInformation {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.tabs {
  display: flex;
  gap: 10px;
  width:100%;
  margin-bottom: 10px;
}
.tab {
  background-color: var(--mainButtonColor);
  border: 2px solid transparent;
  border-radius:var(--smallRadius);
  padding: 10px 20px;
  font-size:var(--textFont);
  color: var(--white);
  cursor: pointer;
  width:100%;
  position: relative;
  transition: var(--transition);
}
.tab:hover{
  background-color:var(--mainButtonHover);
  transform:translateY(-1px);
}
.tab.active {
  background-color:transparent;
  border:2px solid var(--mainButtonHover);
  color: var(--mainButtonHover);
  transform:translateY(-1px);
}
.tabContent {
  flex: 1;
  line-height: 1.5;
  color: var(--mainTextColor);
}

.description-content,
.details-content {
  min-height: 100px;
}

/*-----------------------------RESPONSIVE--------------------------------*/
@media (max-width: 1000px) {
  .productContainer {
    grid-template-columns: 1fr;
  }
  .imagePlaceholder{
    margin-top:30%;
  }
  .singleProductPage {
    padding: 10px;
  }
  .productImage {
    max-width:300px;
    margin-top:40px;
  }
  .productImageSection {
    min-height: 200px;
  }
  .productMainTitle {
    font-size: 24px;
    text-align:center;
  }
  .productNotFoundTitle {
    position: static;
    transform: none;
    text-align: center;
    margin: 20px 0;
  }
  
  .productPriceBox {
    flex-direction: column;
    gap: 10px;
  }
  .priceValue {
    font-size: 32px;
  }
  
  .purchaseControls {
    flex-direction: column;
  }
  .quantityInput {
    width: 100%;
  }
  .quantityBtn{
    width:100px;
  }
  .singleProductAddToCartBtn {
    width: 100%;
    min-width: auto;
  }

  .tabs {
    flex-direction: column;
  }
}